.arena-card {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #202020;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    width: 280px;
    /* Consistent width */
    height: 300px;
    /* Consistent height */
    margin: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arena-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.arena-card-image-wrapper {
    border-radius: 16px;
    overflow: hidden;
}

.arena-card-image {
    width: 100%;
    height: 150px;
    /* Fixed height for image */
    object-fit: fill;
}

.arena-card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arena-card-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.2em;
    /* Limits description height */
}

.arena-info {
    display: flex;
    justify-content: space-between;
    color: #cccccc;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.arena-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-btn {
    background-color: #28a745;
    color: #ffffff;
    font-weight: 500;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #218838;
}

.arena-card-status {
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.arena-card-status.active {
    background-color: #28a745;
}

.arena-card-status.inactive {
    background-color: #6c757d;
}

.hover-info-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    max-width: 200px;
    position: absolute;
    z-index: 100;
    top: 30px;
    right: 100%;
    white-space: normal;
    width: 250px;
    font-size: 0.85rem;
}